<h1><%= title %></h1>

<p><%= user %>님, 환영합니다!</p>

<div class="navigation-bar">
    <div class="search-bar">
        <label>유튜부 검색</label>
        <input class="video-search-input" type="text" />
        <button class="youtube-search-button">검색</button>
        <br />
        <label>현재 페이지내 검색</label>
        <input class="video-filter-text" type="text" />
        <button class="page-search-button">검색</button>
    </div>
</div>

<div class="main-container">
    <div class="selected-video"></div>
    <div class="video-list-container"></div>
</div>
